
// .expandDiv {
//     position: absolute;
//     margin: auto;
//     vertical-align: baseline;
//   }
.expandDiv {
    position: relative;
    bottom: 231px;
    height: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}
  .expandButtonOpen {
    position: relative;
    display:flex;
    justify-content: center;
    cursor: pointer;
    // left: 50%;
    // // bottom: 67px;
    // opacity: 1;
    // transition: opacity 1000ms;
    // font-size: 1.2rem;
  } 
  .expandButtonClose {
    position: relative;
    left: 50%;
    top: 180px;
    transition: opacity 1000ms;
  }
  